
.NavbarItems{
    display:flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 5px 15px 0 rgb(0,0,0,0.3);
    padding: 0 30px;
    height: 80px;
    width: 95%;
    border-radius: 13px;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translate(-50%);
    z-index: 10000;
   background-color: white;
}
.navbar-logo{
    font-size: 2.2rem;
    cursor: pointer;
    color: blue;
}
.nav-menu{
    display:grid;
    grid-template-columns: repeat(6 , auto);   
    grid-gap: 10px;
    align-items: center;
}

.nav-link{
    color:#000;
    font-weight: 600;
    padding: .7rem 1rem;
}
.nav-link:hover{
    color: white;
    background-color: rgb(17, 136, 96);
    border-radius: 4px;
    transition:all .3s ease-in-out;
}
.nav-link-mobile{
    display: none;
}
.menu-icons{
    display:none;
}
button{
    padding: 0.5rem 1rem;
    /* white-space: nowrap; */
    border-radius: 5px;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    font-weight: 600;
    transition: 0.2s ease-in-out;
}
button:hover{
    background-color: rgb(46, 44, 44);
    color: white;
}
@media screen and (max-width:850px) {
    .NavbarItems{
        z-index: 99;
      
    }
    .nav-menu{
        display:flex;
        flex-direction: column;
        justify-content: flex-start;
        background-color: white;
        width:100%;
        height: auto;
        position: absolute;
        top: 0;
        left: -105%;
        opacity: 0;
        align-items: stretch;
        padding: 80px 0 30px 0;
        margin: 0;      
        transition: all .5s ease-in-out;
        border-radius: 13px;
    }
    .nav-menu.active{
        left:0;
        opacity: 1;
        z-index: -1;
        
    }
    .nav-link{
        display: block;
        width: 100%;
        font-size: 1.2rem;
        padding: 2rem;
    }
    .nav-link:hover{
        background-color: darkgreen;
        transition:none;
    }
    button{
        display: none;
    }
    .nav-link-mobile{
        display: block;
        background-color: #185689;
        color: #fff;
        text-align: center;
        padding: 1.5rem;
        border-radius: 5px;
        width: 80%;
        margin: auto;
        font-size: 1.2rem;
        font-weight: 700;
        letter-spacing: 2px;
    }
    .menu-icons {
        display: block; 
        cursor: pointer;  
    }
    .menu-icons i{
        font-size: 1.8rem;
        color: #3e3d3d;
    }
}
 
 